<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
        <h1></h1>
        form all event </header>
    <main>
        <form action="/events/new" method="POST">
            <input type="text" name="title" placeholder="Title">
            <textarea name="summary" id="" cols="30" rows="10" placeholder="Summary"></textarea>
            <input type="text" name="host" placeholder="host ">
            <input type="date" name="startDate" placeholder="Strat date">
            <input type="date" name="endDate" placeholder="End date">
            <input type="text" name="category_name" placeholder="Category">
            <input type="text" name="location_name" placeholder="location">
            <input type="submit" value="Add">
        </form>
    </main>

</body>
</html>
